= content_for :stylesheets do
  = stylesheet_link_tag 'signin'
- provide(:title, 'Sign In')

.signin
  %h3 Forgot your password?
  %hr.soften.margin_top_5px

  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    %div
      = f.email_field :email, :autofocus => true, placeholder: 'Email', class: 'width_75_percent'
    %div
      = f.submit "Send me reset password instructions", class: 'btn'
  = link_to "Sign up", new_registration_path(resource_name), class: 'pull-right'
  .pull-right.margin_adjust= "|"
  = link_to "Sign in", new_session_path(resource_name), class: 'pull-right'
