#accordion2.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle.collapsed{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseOne"}
        Bike Types
    #collapseOne.accordion-body.collapse{style: "height: 0px;"}
      .accordion-inner
        %ul.vehicle_types
          - Deal::VEHICLE_DATA[:vehicle_type].each do |type|
            %li
              = check_box_tag type, false, true, 'data-type' => type
              = type
  .accordion-group
    .accordion-heading
      %a.accordion-toggle.collapsed{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseTwo"}
        Bike Models
    #collapseTwo.accordion-body.collapse{style: "height: 0px;"}
      .accordion-inner
        %ul
          - Deal::VEHICLE_DATA[:model].each do |make, models|
            %li.make{'data-make' => make }
              = check_box_tag make, true, false, 'data-make' => make, 'class' => "make"
              = make
              %ul.subfilter
                - models.each do |model|
                  %li.model
                    = check_box_tag model, true, false, 'data-model' => model
                    = model
