- provide(:title, 'Sign In')

.signin
  %h3 Sign in
  %hr.soften.margin_top_5px
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %div
      = f.email_field :email, :autofocus => true, placeholder: 'Email', class: 'width_75_percent'
    %div
      = f.password_field :password, placeholder: 'Password', class: 'width_75_percent'
    - if devise_mapping.rememberable?
      %div
        = f.check_box :remember_me, class: 'remember_me'
        = f.label :remember_me
    %div= f.submit "Sign in", class: 'btn'
  = link_to "Forgot your password?", new_password_path(resource_name), class: 'pull-right'
  .pull-right.margin_adjust= "|"
  = link_to "Sign up", new_registration_path(resource_name), class: 'pull-right'
