.row-fluid
  .span12
  - @deals.each do |deal|
    .span12.deal
      .span3
        %img.pull-left{src: deal.photo.thumb.url.blank? ? '/assets/default.png' : deal.photo.thumb.url}
      .span8
        .span10
          .caption
            %h5= "From #{deal.from.strftime('%d/%m/%Y')} - Till #{deal.till.strftime('%d/%m/%Y')}"
            %b 
              Rate per day: 
            = deal.rate_per_day
            %b
              Rate Per Hour: 
            = deal.rate_per_hour
            %br
            %b
              Location:
            = deal.location
            %b
              Contact: 
            = deal.contact
            %b
              Info:
            = deal.info
        .span2
          =link_to 'view details', deal_path(deal), remote: true, class: 'btn btn-primary btn-small'
          - if current_user && deal.user.id == current_user.id
            =#link_to 'Update', edit_deal_path(deal), class: 'btn btn-success btn-small'
            =#link_to 'Cancel', deal_path(deal), method: :delete, :confirm => "Are you sure? You want to cancel this deal.", class: 'btn btn-danger btn-small'

