.row-fluid
  .span12
  - @deals.each do |deal|
    .span12.deal
      .span3
        %img.pull-left{src: deal.photo.thumb.url.blank? ? '/assets/logo.png' : deal.photo.thumb.url}
      .span8
        .caption
          %h5= "From #{deal.from.strftime('%d/%m/%Y')} - Till #{deal.till.strftime('%d/%m/%Y')}"
          %h5= "Rate per day: #{deal.rate_per_day} , Rate Per Hour: #{deal.rate_per_hour}"
          %label= deal.location
          %label= "Mobile: #{deal.mobile.blank? ? '-' : deal.mobile}"
          %p
            = deal.info
          =link_to 'view details', deal_path(deal), remote: true
          - if current_user && deal.user.id == current_user.id
            |
            =link_to 'Update', edit_deal_path(deal)
            |
            =link_to 'Cancel', deal_path(deal), method: :delete, :confirm => "Are you sure? You want to cancel this deal."

